.ant-layout {
  background-color: $whiteBackgroundColor;
}

#content-container {
  margin-bottom: $footerHeight;
}

#map-size {
  height: calc(var(--vh, 1vh) * 100 - $footerHeight);
}

#map-wrap {
  position: relative;
  overflow: hidden;
  height: inherit;
  z-index: 0;
}

.map-button {
  position: absolute;
  overflow: hidden;
  top: 1rem;
  z-index: 10;
}
